* {
  cursor: -webkit-grab;
  cursor: grab;
}
.grabbing * {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.spinner {
  position: relative;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.name {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: calc(50% - 25vmin) 50%;
}
.name__text {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 100%;
  text-align: center;
  font-family: raleway, "open sans";
  font-weight: 200;
  font-size: 5vmin;
  text-indent: 10vw;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0),
                                             rgba(255, 255, 255, 0.8) 30%,
                                             rgba(255, 255, 255, 0.8) 70%,
                                             rgba(255, 255, 255, 0));
  background: linear-gradient(to left, rgba(255, 255, 255, 0),
                                       rgba(255, 255, 255, 0.8) 30%,
                                       rgba(255, 255, 255, 0.8) 70%,
                                       rgba(255, 255, 255, 0));
}
